<!-- Extends base/base.html -->
{% extends 'base/base.html' %}

<!-- Block title -->
{% block title %} Upload Text {% endblock title %}

<!-- body -->
{% block body %}

<div class="container">
    <br />

    <!-- <div class="card border-dark mb-3"> -->
    <div class="card border-dark mb-3" style="max-width: 80%">
        <div class="card-body">
            <h5 class="card-title">upload - TEXT</h5>
            <form>
                <div class="input-group">
                    <div class="form-floating">
                        <textarea
                            class="form-control"
                            placeholder="Leave a txt here"
                            id="floatingTextarea"
                        ></textarea>
                        <label for="floatingTextarea">TEXT</label>
                    </div>
                </div>

                <br />
                <button
                    class="btn btn-outline-dark"
                    type="button"
                    id="inputGroupFileAddon04"
                >
                    Submit
                </button>
            </form>
        </div>
    </div>

    <br />
</div>

{% endblock body %}
